<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>

        <% include templates/header.ejs %>
        
          <h3><%= title %></h3>
        
          <p>Hi my name is <%= name %></p>
    
</body>
</html>